<section>
  <p>Hello, <%= @user.given_name %>, </p>
  <div class="row">
    <div class="col-md-12">
      <h3>Online</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <ul class="list-group" id="online-users">
      </ul>
    </div>
  </div>
</section>