/* https://aka.erwijet.com/i-hate-css */
/* tbh, it's not that bad but still should be roasted */

.dl-horizontal dt {
  float: left;
  width: 162px;
  margin-bottom: 0.5rem;
  text-align: right;
  font-size: 16pt;
}

.dl-horizontal dd {
  float: right;
  margin-left: 180px; 
  margin-bottom: 0.5rem;
  text-align: left;
}

td.space-title {
  font-size: 14pt;
  vertical-align: middle;
}

.spaces-header {
  display: inline-block;
  vertical-align: text-top; 
  margin-bottom: 0px !important;
}

.spaces-card-body {
  padding-bottom: 0px !important;
}

.space-join-btn {
  float: right;
}