<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Chatter" , suffix: " · Phoenix Framework" %>
      <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/csh-material-bootstrap@4.5.2/dist/csh-material-bootstrap.min.css" />
      <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}></script>
</head>

<body>
  <div id="user-info" data-id={"#{@user.preferred_username}"}></div>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Chatter</a>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Spaces</a>
          </li>
          <%= if @user.is_admin? do %>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Admin</a>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>

  <%= @inner_content %>
</body>

</html>